@import "http://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,500,700";
* {
   font-size: 100%;
   font-family: Source Code Pro;
}
h1 {text-align: center;background-color: gold;padding:2%;}
.container {width:600px; margin:0 auto;background-color: silver;padding: .3%}
form ul { padding: 0;}
form li { list-style: none; }
form input[type=text], form textarea { margin-bottom: 1.2em;width:98.7%;margin-left:.2%;}
form textarea { height:300px;}
label { display: block;padding:.3%; }
input[name="SubmitPost"] {float: right;margin-right:-.1%;}
.odd{background-color:azure }
article{background-color:#94BAE7 ;padding:.8%;border-bottom: 1px dashed black;}
hr {border:dashed #009999; border-width:1px 0 0 0; height:0;line-height:0px;font-size:0;margin:0;padding:0;}
