<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <authentication mode="Forms" />
    <membership defaultProvider="AspNetReadOnlyXmlMembershipProvider">
      <providers>
        <add name="AspNetReadOnlyXmlMembershipProvider" type="ReadOnlyXmlMembershipProvider" description="Read-only XML membership provider" xmlFileName="~/App_Data/Users.xml" />
      </providers>
    </membership>
  </system.web>
  <location path="wp-admin">
    <system.webServer>
        <security>
            <authorization>
                <add accessType="Deny" users="?" />
            </authorization>
        </security>
    </system.webServer>
  </location>
  <location path="wp-admin/css">
    <system.webServer>
      <security>
        <authorization>
          <remove users="?" roles="" verbs="" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="wp-admin/images">
    <system.webServer>
      <security>
        <authorization>
          <remove users="?" roles="" verbs="" />
        </authorization>
      </security>
    </system.webServer>
  </location>
    <system.webServer>
        <modules>
            <remove name="UrlAuthorization" />
            <remove name="FormsAuthentication" />
            <remove name="DefaultAuthentication" />
            <add name="DefaultAuthentication" type="System.Web.Security.DefaultAuthenticationModule" preCondition="" />
            <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" preCondition="" />
            <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" preCondition="" />
        </modules>
    </system.webServer>
</configuration>
